profile::openvidu::install::openvidu_version: '{{ openvidu_version }}'
profile::openvidu::install::openvidu_recording_version: '{{ openvidu_recording_version }}'
profile::openvidu::install::openvidu_cdr_path: '/opt/openvidu/cdr'
profile::openvidu::install::openvidu_recording_path: '/opt/openvidu/recordings'
profile::openvidu::install::openvidu_recording_custom_layout: '/opt/openvidu/custom-layout'
profile::openvidu::install::domain_or_public_ip: '{{ openvidu_domain }}'
profile::openvidu::install::openvidu_secret: '{{ openvidu_password }}'
