rabbit_readonly_password: {{ rabbit_readonly_password }}
rabbit_admin_password: {{ rabbit_admin_password }}
redis_password: {{ redis_password }}
elastic_password: {{ elastic_password }}
{% if 'openvidu' in groups -%}
openvidu_password: {{ openvidu_password }}
{%- endif %}
